<!DOCTYPE html>
<html>
  <head>
    <title>Login - VulnBank</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Log In to VulnBank</h1>
    <form method='POST'>
      <input name='username' placeholder='username' />
      <input name='password' type='password' placeholder='password' />
      <button type='submit'>Log In</button>
    </form>
  </body>
</html>
