<!DOCTYPE html>
<html>
  <head>
    <title>Transfer - VulnBank</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Transfer</h1>
    <form method='POST'>
      <input name='recipient' placeholder='recipient' />
      <input name='amount' placeholder='amount' />
      <button type='submit'>Transfer</button>
    </form>
  </body>
</html>
